doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Express Server
    link(rel="stylesheet" href='main.css')
    link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap')
    script(src='scripts.js')

  body
    div.container 
      header
        h1 Express Server
        p Indentation is the Key in PUG file
      main
        block content
  


    