doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Express Server
    link(rel="stylesheet" href='main.css')
    link(rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap')
    script(src='scripts.js')

  body
    div.container 
      header
        h1 Positive Attitude Server
        p Software Developer, Read this Post and Keep the Faith !
      main
        block content

      footer 
        p This is the Footer !
  


    