HTML{
    background: #111;
}

body {
color: aliceblue;
margin: 0;
padding: 0;
font-family: Quicksand, serif;
}

.container{
    width: 100%;
    max-width: 900px;

    color: #111;
    margin: 120px auto 0px auto;
    padding: 0px;
}

header{
    background: #111;
    color: aliceblue;
    margin-bottom: 40px;
}

header h1{
    font-size: 3rem;
}

nav, nav ul {
margin: 5;
padding: 5;
}

nav ul li {
display: inline-block;
margin-right: 12px;
}

nav ul li a {
display: block;
color: #007f4b;
font-weight: bold;
font-size: 1,5rem;
}

main{
    background: #eee;
    color: #111;
    box-shadow: 10px 5px 5px red;
}

.container section{
    padding: 10px;
}

footer{
    color: red;
}